<div class="spacer"></div>
<div class="contianer">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center page-title">
            <h1>書籍情報</h1>
        </div>
    </div>
</div>

<div class="spacer"></div>

<div class="contianer input-box card">
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                書籍ID
            </span>
        </div>
        <div class="col-md-6">
            <span>1</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                タイトル
            </span>
        </div>
        <div class="col-md-6">
            <span>はじめてのJavaScript</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                著者
            </span>
        </div>
        <div class="col-md-6">
            <span>山田太郎</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                出版社
            </span>
        </div>
        <div class="col-md-6">
            <span>第一出版</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                価格
            </span>
        </div>
        <div class="col-md-6">
            <span>1980円</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                購入日
            </span>
        </div>
        <div class="col-md-6">
            <span>2021//01/10</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                書籍管理部門
            </span>
        </div>
        <div class="col-md-6">
            <span>F部署</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                更新日
            </span>
        </div>
        <div class="col-md-6">
            <span>2021/04/02</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                更新者
            </span>
        </div>
        <div class="col-md-6">
            <span>ユーザー6</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-2 box-header">
            <span>
                更新者部署
            </span>
        </div>
        <div class="col-md-6">
            <span></span>
        </div>
    </div>
</div>

<div class="spacer"></div>

<form>
    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-md-1 col-sm-3 offset-sm-1">
                <a href="https://localhost:5001/BookManagement/" class="btn btn-fill btn-default">戻る</a>
            </div>
            @* 削除イベントのみJavaScriptを利用する *@
            <div class="col-md-2 offset-md-4 col-sm-3 offset-sm-2">
                <a href="https://localhost:5001/BookManagement/" class="btn btn-fill btn-danger">削除</a>
            </div>
            <div class="col-md-2 offset-md-1 col-sm-3 offset-sm-0">
                <a href="https://localhost:5001/BookManagement/Edit" class="btn btn-fill btn-primary">更新</a>
            </div>
        </div>
    </div>
</form>

@* 確認ダイアログ出力。はいならフォームを利用してコントローラーのアクションメソッドへ *@
<script>

</script>
