<div class="spacer"></div>
<div class="contianer">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center page-title">
            <h1>書籍一覧</h1>
        </div>
    </div>
</div>

<div class="spacer"></div>

@* 検索を行うFormタグ *@
<form action="List" method="POST">
    <div class="contianer input-box">
        <div class="row">
            <div class="col-md-2 offset-md-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
                <span>
                    タイトル
                </span>
            </div>
            <div class="col-md-6 offset-md-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
                <span>
                    著者
                </span>
            </div>
            <div class="col-md-6 offset-md-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
                <span>
                    出版社
                </span>
            </div>
            <div class="col-md-6 offset-md-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
                <span>
                    &nbsp;
                </span>
            </div>
            <div class="col-md-6 offset-md-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
                <div class="form-check">
                    <input type="checkbox" id="flagCheck" name="flag" value="flag" class="form-check-input">
                    <label for="flagCheck" class="form-check-label">自部門の書籍に限定</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-8 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
                <input type="submit" class="btn btn-fill btn-primary" value="検索">
            </div>
        </div>
    </div>
</form>

<div class="spacer"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                タイトル
            </th>
            <th>
                著者
            </th>
            <th>
                出版社
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* JavaScriptを利用して、trをクリック時にイベント発生 *@
        <tr>
            <td>
                <a href="https://localhost:5001/BookManagement/Detail">はじめてのJavaScript</a>
            </td>
            <td>
                山田太郎
            </td>
            <td>
                第一出版
            </td>
        </tr>
        <tr>
            <td>
                Node.js入門
            </td>
            <td>
                佐々木洋子
            </td>
            <td>
                第二出版
            </td>
        </tr>
        <tr>
            <td>
                Hyper-Vかんたんセットアップ
            </td>
            <td>
                山田太郎
            </td>
            <td>
                第一出版
            </td>
        </tr>
    </tbody>
</table>

<a href="https://localhost:5001/BookManagement/Register">
    <div class="floating">
        <span>
            <i class="fa fa-plus" style="margin-top: 8px; margin-left: 3px;"></i>
        </span>
    </div>
</a>

<script>

</script>